*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
.fz{
    font-size: 40px;
}
.dim{
    margin: 0 auto;
    width: 85%;
}
.logo{
    width: 300px;
    margin-left: 1%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.hed{
    height: 120px;
}
/* colori*/
.bg-card{
    background-color:#0F0E17;
}
.bg-title{
    color: #E53170;
}
.bg-mail{
    color: #0093E7;
}
.bg-head{
    background-color: #7ac6f1;
}
/* classi flex*/
.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;   
}
.flex2{
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
    justify-content: space-around;
    margin:  0 auto;
    height: 300px;
    width: 85%;
}
.photo{
    display: flex;
    margin: 20px;
    background-color: #0F0E17;
    height: 100px;
    width: 30%;  
    box-shadow: 3px 3px 3px 3px rgb(214, 210, 210); 
    border-radius: 2px;
    color: white;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
}
#flex-container-header {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#list-link-header {
    display: flex;
    list-style: none;
    gap: 10px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.test {
    flex-direction: column;
  }
  /* dimension class*/
.test1 {
    margin: 0 0 .5em;
  }
.texta{
    text-align: center;
}
.sp{
    font-size: 20px;
    font-weight:500;
}
.p-20{
    padding: 30px;
}
.m-20{
    margin: 10px;
}
.dp{
    height: 100px;
    width: 100px;
    margin-right: 1em;
}
.size{
    margin: 60px 60px;
}
/* order class*/
.marco{
    order: -1;
}
.giorgio{
    order: 1;
}
.marta{
    order: 2;
}
.robert{
    order: 3;
}
.dany{
    order: 4;
}